{% extends "layout.twig" %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-xl-12">
            <div class="row">

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="fas fa-user-cog"></i>
                                    </div>
                                </div>
                                <div class="col-9 text-right align-self-center">
                                    <div class="m-l-10 ">
                                        <h5 class="mt-0">{{ total_stu }}</h5>
                                        <p class="mb-0 text-muted">Total Student</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                </div>
                                <div class="col-9 align-self-center text-right">
                                    <div class="m-l-10">
                                        <h5 class="mt-0">{{ issue_cert }}</h5>
                                        <p class="mb-0 text-muted">Issued Certificate</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="search-type-arrow"></div>
                            <div class="d-flex flex-row">
                                <div class="col-3 align-self-center">
                                    <div class="round ">
                                        <i class="fas fa-user-alt-slash"></i>
                                    </div>
                                </div>
                                <div class="col-9 align-self-center text-right">
                                    <div class="m-l-10 ">
                                        <h5 class="mt-0">{{ pen_cert }}</h5>
                                        <p class="mb-0 text-muted">Pending Certificate</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end col-->
    </div><!--end row-->
{% endblock %}